scipy
matplotlib
numpy
pandas
tqdm
requests
caerus>=0.1.9
opencv-python
xarray
joblib
# peakdetect==1.1
git+https://github.com/erdogant/peakdetect.git
# git+https://github.com/arvinnick/peakdetect.git
